<h1 id="tableLabel">Vehicle Information for Owner: <select #dropdown (change)="onChange(dropdown.value)">
  <option *ngFor="let owner of owners" value="{{owner.ownerId}}">{{ owner.lastName }}, {{ owner.firstName }}</option>
</select></h1>

<p *ngIf="!vehicles"><em>Loading...</em></p>

<div class="card-container">
  <div class="card" *ngFor="let vehicle of vehicles">
    <img src="/assets/placeholder.png" style="width:100px; height:100px;" />
    <h4>{{ vehicle.modelYear }} {{ vehicle.make }} {{ vehicle.model }}</h4>
    <p>{{ vehicle.color }}, {{ vehicle.mileage | number }} miles</p>
    <h5>VIN: {{ vehicle.vin }}</h5>
  </div>
  <div class="card">
    <img src="/assets/addnew.png" style="width:100px; height:120px;"/>
    <form (ngSubmit)="addNew(dropdown.value)">
      <button class="btn btn-lg btn-primary btn-block" name="addVehicle" type="submit" value="addVehicle">Add new vehicle for owner</button>
    </form>
  </div>
</div>
