<h1 id="tableLabel">Vehicle Information</h1>

<p *ngIf="!vehicles"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="vehicles">
  <thead>
    <tr>
      <th>VIN</th>
      <th>Model Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Color</th>
      <th>Mileage</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehicle of vehicles">
      <td>{{ vehicle.VIN }}</td>
      <td>{{ vehicle.modelYear }}</td>
      <td>{{ vehicle.make }}</td>
      <td>{{ vehicle.model }}</td>
      <td>{{ vehicle.color }}</td>
      <td>{{ vehicle.mileage }}</td>
    </tr>
  </tbody>
</table>
