<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Add Vehicle</title>
</head>
<body>
  <form #vehicleForm="ngForm">
    <label for="vin">VIN</label><br />
    <input type="text" id="vin" name="vin" /><br />
    <label for="modelYear">Model Year</label><br />
    <input type="text" id="modelYear" name="modelYear" /><br />
    <label for="make">Make</label><br />
    <input type="text" id="make" name="make" /><br />
    <label for="model">Model</label><br />
    <input type="text" id="model" name="model" /><br />
    <label for="color">Color</label><br />
    <input type="text" id="color" name="color" /><br />
    <label for="mileage">Mileage</label><br />
    <input type="text" id="mileage" name="mileage" /><br />
    <label for="owner">Owner</label><br />
    <input type="text" id="owner" name="owner" /><br />
    <input type="submit" value="Add Vehicle"/>
  </form>
</body>
</html>
